*{
    box-sizing: border-box;
    margin: 0;
}
:root {
    --color-principal: rgba(48, 106, 243, 0.493); 
    --color-exito: #0c8b34;
    --color-error: #c70d1c;
    --color-blanco: #fff;
}
body{
    background-color: var(--color-principal);
}
header{
    text-align: center;
    margin-top: 15px;
    padding: 25px;
}
header h1{
    font-size: 55px;
    color: var(--color-blanco);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.reservas{
    width: 50%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 0.8em;
    text-align: left;
}

td {
    padding: 0.8em;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mesas{
    margin-top: 2rem;
    padding: 15px;
    color: var(--color-blanco);
    border-bottom: 1px solid black;
    font-size: 20px;
}
.error{
    margin-top: 2%;
    background-color: #c70d1c4d;
    padding: 25px 105px;
    color: var(--color-error);
    border-radius: 15px;
    border:2px solid var(--color-error);
}
.valido{
    margin-top: 2%;
    background-color:#16ad4662;
    padding: 25px 105px;
    color: var(--color-exito);
    border-radius: 15px;
    border:2px solid var(--color-exito);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-top: 2px solid white;
    margin-top: 3rem;
    font-size: 20px;
}