img{
    width: 20rem;
    max-height: 20rem;
}
.informacion{
    padding: 5px;
    display: flex;
    flex-direction: row ;
    gap: 15%;
    align-items: center;
}
.notice{
    display: flex;
    flex-direction: column;
}
.notice div{
    display: flex;
    flex-direction: column;

}
table{
    width: 100%;
    text-align: center;
}
table td {
    padding: 10px 15px;
}

table td:first-child {
    font-weight: bold;
    width: 60%;
}

table td:last-child {
    text-align: center;
    font-size: 1.1em;
}